<!DOCTYPE html>
<html lang="en">
<head>

</head>
<header class="jumbotron">
  <% include partials/header %>
    <div class="container">
        <h1>Welcome to Flick Picks</h1>
        <p>Your one stop shop for the world's best movies</p>
        <p>
        <a class="btn btn-primary btn-lrg" href="/movies/new">Add New Movie</a>
        </p>
    </div>
</header>
<body>
    <main>
      <section class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3>Most Popular Movies</h3>
          </div>
        </div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% movies.forEach((movie) => { %>
              <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                <img
                  src="<%= movie.image %>">
              <div class="caption">
                  <h4><%= movie.name %></h4>
                  <p>
                      <%=movie.year_released%>
                      <%=movie.genre%>
                      <%=movie.length%>
                      <%=movie.rating%>
                    <a href="/movies/<%= movie._id %>" class="btn btn primary">More Info</a>
                  </p>
                 </div>
                </div>
            </div>
        <% }); %>
    </div>
    </div>
      </section>
    </main>
</body>
</html>
