<!DOCTYPE html>
<html lang="en">
<head>

</head>
<header>
  <% include partials/header %>
</header>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Update <%=updateMovie.name%> Info!</h1>
        <div style="width: 30%; margin:25px auto;">
        <form action="/movies/<%= updateMovie.id %>?_method=PUT"  method="POST">
            <label>Movie Name:</label>
            <div class="form-group">
                <input class="form-control" type="text" name="name" value="<%=updateMovie.name%>">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="image" value="<%=updateMovie.image%>">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="yearReleased" value="<%=updateMovie.yearReleased%>">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="genre" value="<%=updateMovie.genre%>">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="length" value="<%=updateMovie.length%>">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="rating" value="<%=updateMovie.rating%>">
              </div>
              <div class="form-group">
                  <button type= "submit" class="btn btn-lg btn-primary btn-block">Update!</button>
              </div>
          </form>
        <a href= "/movies">Back to Movies</a>
    </div>
    </div>
</div>


<% include partials/footer %>
