<body>
    <main>
      <section class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3>Update Movie Information</h3>
          </div>
        </div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <img
    src="<%= singleMovie.image %>">
<div class="caption">
  <h4><%= singleMovie.name %></h4>
    <%=singleMovie.yearReleased%>
    <%=singleMovie.genre%>
    <%=singleMovie.length%>
    <%=singleMovie.rating%>

    </div>
    </div>
      </section>
    </main>
</body>
</html>
